.news{
    padding: 15px;
    background: white;
    border-radius: 15px;
    position: sticky;
    top: 100px;
    height: fit-content;
}
.news__heading{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    padding: 10px 0;
}

.aside__article{
    display: flex;
    align-items: center;
    padding: 10px 0;
}


.aside__article-heading{
    font-size: 15px;
    font-weight: bold;
}

.aside__article-text{
    font-size: 11px;
    color: var(--darker-grey);
}