.post{
    background: white;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    animation: flipin 0.3s linear;
}

@keyframes flipin {
    0% {
        transform: translateY(-50%);
      }
    100%{
        transform: translateY(0);
    }
}

.post__buttons{
    border-top: 1px solid var(--light-grey);
    display: flex;
    justify-content: space-evenly;
}

.post__haeder{
    display: flex;
    align-items: center;
}

.post__body{
    padding: 10px 0;
}

.post__info{
    padding: 10px;
}

.post__info-title{
    font-size: 18px;
    font-weight: 600;
}

.post__info-text{
    font-size: 13px;
    color: var(--darker-grey);
}